@font-face {
    font-family: roboto;
    src: url(fonts/Roboto_slab/RobotoSlab-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto_slab/RobotoSlab-Light.ttf);
    font-weight: 300;
}